/*mobileTheme.css*/
/*Author's: Jean-Luc Desroches, Alex barbosa, Durwin Barcenas*/
/*Forum*/
/*This is a style page for the mobile theme*/
/* CSS Document */
#main
{
	margin-bottom:90px;
	margin-top:90px;
	width:100%;
	min-width:none;
}
.button
{
	font-size:3em;
}